body {
    margin: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darkslategray;
    text-align: center;
}


.item {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: block;
    color: white;
    background-color: darkslategray;
    text-transform: uppercase;
    padding: 30px;
}

.item:hover .link {
    background-color: rgb(37, 87, 87);
    color: white;
}

.item:hover .sub-list {
    display: block;
}

.sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: max-content;
}

.sub-item {
    border-top: 1px solid darkslategray;
}

.sub-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: block;
    background-color: rgb(37, 87, 87);
    color: white;
    padding: 30px;
}

.sub-item:hover .sub-link {
    background-color: rgb(30, 97, 97);
    color: white;
}

.sub-item:hover .sub_sub-list {
    display: block;
}

.sub_sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: max-content;
}

.sub_sub-item {
    border-top: 1px solid green;
}

.sub_sub-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: block;
    color: white;
    background-color: rgb(38, 129, 129);
    padding: 30px;
}

.sub-item:nth-child(2) {
    position: relative;
}

.sub_sub-item:hover .sub_sub-link {
    background-color: rgb(53, 163, 163);
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}